---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Blog</span></h1>
		<p class="intro">Your journey to the stars begins here. Explore the cosmos with us!</p>
		<div class="link-card-grid">
			<a href="/about" class="link-card">About Us</a>
			<a href="/blog" class="link-card">Blog</a>
			<a href="#" class="link-card">Event</a>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		text-align: center; /* 中央揃えにする */
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin-bottom: 2rem; /* タイトル下の余白を調整 */
		position: relative;
	}
	.text-gradient {
		background-image: linear-gradient(50deg, #6a11cb 0%, #2575fc 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: deepskyblue;
		animation: gradient-shift 3s ease infinite;
		background-size: 200% auto;
	}
	@keyframes gradient-shift {
		0% { background-position: 0% 50%; }
		50% { background-position: 100% 50%; }
		100% { background-position: 0% 50%; }
	}
	.intro {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		margin-top: 2rem;
	}
	.link-card {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(145deg, #0093E9 0%, #80D0C7 100%);
	color: white;
	padding: 1.5rem; /* パディングを増やして余白を確保 */
	border-radius: 0.75rem; /* 角の丸みを増やす */
	text-align: center;
	text-decoration: none;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-size: 1.25rem; /* テキストサイズを大きくして読みやすく */
	font-weight: bold; /* テキストを太くして強調 */
	box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ソフトな影を追加 */
}

.link-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* モバイルデバイスでの表示を改善 */
	}
	.main {
		padding: 1rem; /* モバイルデバイスでのサイドの余白を調整 */
	}
	h1 {
		font-size: 2.5rem; /* モバイルデバイスでの見出しサイズを調整 */
	}
}
</style>
